{% extends 'base.html.twig' %}

{% block content %}


    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Gestion de Reservation</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">

                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                {{ form_start(edit_form) }}
                                <tr>
                                    <td>Libelle</td>
                                    <td>{{ form_widget(edit_form.lib) }}</td>
                                </tr>
                                <tr>
                                    <td>Username</td>
                                    <td>{{ form_widget(edit_form.username) }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ form_widget(edit_form.email) }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="btn btn-danger" type="submit" value="Modifier" /></td>
                                </tr>
                                {{ form_end(edit_form) }}
                            </table>

                            <a class="btn btn-primary" href="{{ path('all_reserv_index_admin') }}">Retourner à la liste de Reservation</a>
                            <a class="btn btn-warning" href="{{ path('reserv_index_admin') }}">Retourner à la liste de Cours</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
