{% extends '@FrontOffice/AD-fitness/Produits.html.twig' %}
{% block aside %}
    <aside id="colorlib-hero" class="colorlib-degree-bg" style="margin-bottom: 100px;">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({{ asset('template/images/img_bg_5.jpg') }});">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>View Product</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

{% endblock %}


{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Category</a></li>
                <li class="active">Product Name Goes Here</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">
                            <div class="product-view">
                                {% set root = "uploads/brochures/" %}

                                {% set  imgpath = productMagasin.image %}

                                {% set urlParam = root ~ imgpath  %}
                                <img src="{{ asset(urlParam) }}" alt="">
                            </div>
                        </div>
                        <!--
                    <div id="product-view">
                        <div class="product-view">
                            <img src="{{ asset('prod/img/thumb-product01.jpg') }}" alt="">
                        </div>
                        <div class="product-view">
                            <img src="{{ asset('prod/img/thumb-product02.jpg') }}" alt="">
                        </div>
                        <div class="product-view">
                            <img src="{{ asset('prod/img/thumb-product03.jpg') }}" alt="">
                        </div>
                        <div class="product-view">
                            <img src="{{ asset('prod/img/thumb-product04.jpg') }}" alt="">
                        </div>
                    </div> -->
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                                {% if date(productMagasin.datAjout) < date() %}
                                    <span>New</span>
                                {% endif %}
                                {% if productMagasin.solde >0 %}
                                    <span class="sale">-{{ productMagasin.solde }}%</span>
                                {% endif %}
                            </div>
                            <h2 class="product-name">{{ productMagasin.name }}</h2>
                            {% if productMagasin.solde >0 %}
                                {%  set sold= productMagasin.price - ( productMagasin.price * productMagasin.solde )/100  %}
                                <h3 class="product-price">{{ sold }}DT <del class="product-old-price">{{ productMagasin.price }}DT</del></h3>
                            {% else %}
                                <h3 class="product-price">{{ productMagasin.price }}DT </h3>
                            {% endif %}
                            <div>
                                <div class="product-rating">
                                    {% set feeds=0 %}
                                    {% for Feedback in Feedbacks  %}

                                        {% set feeds= feeds+Feedback.rating %}

                                    {% endfor %}
                                    {% if Feedbacks | length > 0 %}
                                        {% set n= Feedbacks | length %}
                                    {% else %}
                                        {% set n= 1 %}
                                    {% endif %}

                                    {% set x=feeds/n %}

                                    {% for i in 0..x-1 %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <a href="#linkreview">{{ Feedbacks | length }} Review(s)  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}/ Add Review {% endif %}</a>
                            </div>
                            <p><strong>Availability:</strong>{% if productMagasin.amount > 0 %} In Stock {% else %} Hors Stock {% endif %} </p>
                            <p><strong>Brand:</strong> E-SHOP</p>
                            <p>{{ productMagasin.description }}</p>
                            <div class="product-options">
                                <ul class="size-option">
                                    <li><span class="text-uppercase">Amount:</span></li>
                                    <li class="active"><a href="#">{{ productMagasin.amount }}KG</a></li>
                                </ul>
                                <ul class="color-option">
                                    <li><span class="text-uppercase">Flavor:</span></li>
                                    <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                    <li><a href="#" style="background-color:#8A2454;"></a></li>
                                    <li><a href="#" style="background-color:#BF6989;"></a></li>
                                    <li><a href="#" style="background-color:#9A54D8;"></a></li>
                                </ul>
                            </div>

                            <div class="product-btns">
                                <a class="primary-btn add-to-cart" href='{{ path('addtocart_route', { 'id': productMagasin.id }) }}'><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                <div class="pull-right">
                                    <a class="main-btn icon-btn" href='{{ path('likes_route', { 'id': productMagasin.id }) }}'><i class="fa fa-heart"></i>
                                        <span class="icon-btn"> {{ likes | length }} </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-tab">
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab2">Reviews ({{ Feedbacks | length }})</a></li>
                            </ul>
                            <div class="tab-content">
                                <a id="linkreview"></a>
                                <div id="tab1" class="tab-pane fade in active">
                                    <p>{{ productMagasin.description }}</p>
                                </div>
                                <div id="tab2" class="tab-pane fade in">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-reviews">
                                                {% for Feedback in Feedbacks  %}
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div><a href="#"><i class="fa fa-user-o"></i> {{ Feedback.user }}</a></div>
                                                            <div class="review-rating pull-right">
                                                                {% set number = Feedback.rating %}
                                                                {% for i in 0..number-1 %}
                                                                    <i class="fa fa-star"></i>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ Feedback.feedback }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <div class="col-md-6" >
                                                <h4 class="text-uppercase">Write Your Review</h4>
                                                <form  action="{{ path('feed', { 'id': productMagasin.id }) }}" method="post"  class="review-form">
                                                    <div class="form-group">
                                                        <textarea class="input" placeholder="Your review" id="review" name="_review" ></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating: </strong>
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                                                <!-- <input type="hidden" id="rating" name="rating" value="-1"> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn" type="submit">Submit</button>
                                                </form>
                                            </div>
                                        {% endif %}

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}


{% block script %}
    <!-- jQuery
<script src="{{ asset('template/js/jquery.min.js') }}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('template/js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap
<script src="{{ asset('template/js/bootstrap.min.js') }}"></script>  -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="{{ asset('template/js/jquery.waypoints.min.js') }}"></script>
    <!-- Stellar Parallax -->
    <script src="{{ asset('template/js/jquery.stellar.min.js') }}"></script>
    <!-- Flexslider -->
    <script src="{{ asset('template/js/jquery.flexslider-min.js') }}"></script>
    <!-- Owl carousel -->
    <script src="{{ asset('template/js/owl.carousel.min.js') }}"></script>
    <!-- Magnific Popup -->
    <script src="{{ asset('template/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('template/js/magnific-popup-options.js') }}"></script>
    <!-- Counters -->
    <script src="{{ asset('template/js/jquery.countTo.js') }}"></script>
    <!-- Date Picker -->
    <script src="{{ asset('template/js/bootstrap-datepicker.js') }}"></script>
    <!-- Main -->
    <script src="{{ asset('template/js/main.js') }}"></script>
    <!-- -->
    <script src="{{ asset('template/js/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>

    <script src="{{ asset('template/js/widgets.js') }}"></script>

    <script src="{{ asset('prod/js/slick.min.js') }}"></script>
    <script src="{{ asset('prod/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('prod/js/jquery.zoom.min.js') }}"></script>
    <script src="{{ asset('prod/js/main.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();
            const url=this.href;
            const spanCount=this.querySelector('span.icon-btn');
            axios.get(url).then(function(response){
                spanCount.textContent=response.data.likes;

            })
        }
        document.querySelectorAll('a.icon-btn').forEach(function(link){
            link.addEventListener('click',onClickBtnLike);
        });
        function onxxx(event){
            event.preventDefault();
            const url=this.href;
            axios.get(url).then(function (response) {
                console.log(response);
                alert("Product added to cart,please Check your cart");
                location.reload();
            })
        }
        document.querySelectorAll('a.add-to-cart').forEach(function (link) {
            link.addEventListener('click',onxxx);

        });
    </script>

{% endblock %}