{% extends 'base.html.twig' %}

{% block content %}
    <h1>Carttable</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cartTable.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cartTable.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ cartTable.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cartTable.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carttable_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carttable_edit', { 'id': cartTable.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
