{% extends 'base.html.twig' %}
{% block content %}

    <div id="div_chart"></div>
    {#<div id='png'></div>#}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        {# {{ gc_start(piechart, 'div_chart') }}


         {{ gc_event(piechart, 'ready', 'printPng') }}

         function printPng() {
             document.getElementById('png').outerHTML = '<a href="' + {{ piechart.name }}.getImageURI() + '"></a>';
         }

         {{ gc_end(piechart) }}#}
{{ gc_draw(piechart, 'div_chart') }}
    </script>

    <a class="btn btn-primary" href="{{ path('equipement_f') }}">Afficher la liste des equipements Fonctionnel</a>
    <a class="btn btn-danger" href="{{ path('equipement_nf') }}">Afficher la liste des equipements Non Fonctionnel</a>
    <a class="btn btn-warning" href="{{ path('equipement_m') }}">Afficher la liste des equipements En maintenance</a>






{% endblock %}