{% extends 'base.html.twig' %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
    <h1>Liste des Equipements</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">

            </div>
        </div>
    </div>
</div>


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            {% set flashbag_notices = app.session.flashbag.get('notice') %}
            {%  if flashbag_notices is not empty  %}

                {%  for notice in flashbag_notices %}
                    <div class="col-sm-12">
                        <div class="alert  alert-success alert-dismissible fade show" role="alert" >
                            <div style="text-align: center">{{ notice }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% set flashbag_notices = app.session.flashbag.get('danger') %}
            {%  if flashbag_notices is not empty  %}

                {%  for notice in flashbag_notices %}
                    <div class="col-sm-12">
                        <div class="alert  alert-danger alert-dismissible fade show" role="alert" >
                            <div style="text-align: center">{{ notice }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Table des Equipements</strong>
                        <a class="btn btn-warning" href="{{ path('stat') }}">Afficher le statistique des etats des equipements</a>
                    </div>

                    <form method="post" action="{{ path('equipement_filtre_salle') }}">
                        <label for="filtrer2">Chercher les equipements de la salle :</label>
                        <select name="salle"  >
                            <option>A1</option>
                            <option>A2</option>
                            <option>B1</option>
                            <option>B2</option>
                            <option>G </option>
                            <option>Atelier</option>
                        </select>
                        <input class="btn btn-danger" type="submit" value="Chercher">
                    </form>
                    <form method="post" action="{{ path('equipement_filtre_domaine') }}">
                        <label for="filtrer2">Chercher les equipements du Domaine :</label>
                        <select name="domaine"  >
                            <option>Musculation</option>
                            <option>Fitness</option>
                            <option>Boxe</option>
                            <option>Lutte Libre</option>
                            <option>Natation </option>
                            <option>Aerobic sportive</option>
                        </select>
                        <input class="btn btn-danger" type="submit" value="Chercher">
                    </form>
                    <div class="card-body">
                        <a class="btn btn-primary" href="{{ path('equipements_new') }}">Ajouter equipement</a>

                        <table id="bootstrap-data-table-export" class="table  table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Libelle</th>
                <th>Domaine</th>
                <th>Salle</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Fournisseur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            {% if equipement.etat == 'Fonctionnel'%}
                {% set foo = 'a9f397' %}
            {% elseif equipement.etat == 'Non Fonctionnel' %}
                {% set foo = 'f16961' %}
            {% else %}
                {% set foo = 'c3c8db' %}
            {% endif %}
            <tr bgcolor={{ foo }}>
                <td ><a href="{{ path('equipements_show', { 'id': equipement.id }) }}">{{ equipement.id }}</a></td>
                <td>{{ equipement.reference }}</td>
                <td>{{ equipement.libelle }}</td>
                <td>{{ equipement.domaine }}</td>
                <td>{{ equipement.salle }}</td>
                <td>{% if equipement.date %}{{ equipement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ equipement.etat }}</td>
                <td><a href="{{ path('equipement_show_fournisseur', { 'nom': equipement.fournisseur }) }}">{{ equipement.fournisseur }}</a></td>
                <td>
                    <ul>

                            <a class="btn btn-warning" href="{{ path('equipements_show', { 'id': equipement.id }) }}">Afficher</a>
                            <a class="btn btn-primary" href="{{ path('equipements_edit', { 'id': equipement.id }) }}">Modifier</a>


                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
